* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {

    padding: 1rem;
}

.box {

    background: white;
    border: 2px solid #bdbdbdbd;
    padding: 10px;
}

.container {

    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 100px;
    grid-template-areas: 
    'box-1 box-1 box-1'
    'box-2 box-2 box-2'
    'box-3 box-3 box-4'
    'box-3 box-3 box-4'
    'box-3 box-3 box-4'
    'box-5 box-5 box-5'

}

.box-1 {

    grid-area: box-1;
    text-align: center;

}

.box-2 {

    grid-area: box-2;
    text-align: center;

}

.box-3 {

    grid-area: box-3;
    text-align: center;

}

.box-4 {

    grid-area: box-4;
    text-align: center;


}

.box-5 {

    grid-area: box-5;
    text-align: center;

}